/***** GENERAL STYLING *****/

:root {
    --seafoam: #def3f6;
    --darksea: rgb(0, 60, 95);
    --lightsea: #76b6c4;
    /* Set variables for easy color usage in multiple locations */
}

body {
    margin: 0%;
    max-width: 100%;
    /* used to fix overflowing box elements */
    background-color: var(--darksea);
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

.overlay-text h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    font-weight: 200;
    line-height: 110%;
    margin-top: 0;
}

#home {
    line-height: 120%;
    margin: 0;
    padding: 0;
}

p, label, footer {
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
}

input {
    font-family: 'Oswald', sans-serif;
    font-size: large;
}

footer {
    color: var(--lightsea);
    text-align: center;
    display: inline;
    vertical-align: middle;
}

/***** END OF GENERAL STYLING *****/

/***** NAVBAR STYLING *****/

.navbar {
    background-color: var(--darksea);
    padding-left: 0;
    list-style: none;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #76b6c4;
    text-decoration: none;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-right: 3px solid var(--seafoam);
}

.navbar a:hover {
    background-color: #76b6c4;
    color: rgb(0, 60, 95);
    transition: ease-in-out;
    transition-duration: .5s;
}

/***** END OF NAVBAR STYLING *****/

/***** VIDEO STYLING *****/

.video-banner {
    /*Contains both the video and the overlay text */
    width: 100%;
    height: 500px;
}

.video-container {
    width: 100%;
    height: 500px;
    position: absolute;
}

video {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.text-container {
    background: rgba(0, 60, 95, 0.4);
    width: 100%;
    height: 100%;
    position: relative;
}

.overlay-text {
    padding-left: 10%;
    padding-top: 8%;
    color: var(--seafoam);
}

.overlay-text h1 {
    font-size: 5rem;
    letter-spacing: 5px;
}

.overlay:hover {
    background: rgba(0, 60, 95, 0.7);
    transition: ease-in-out;
    transition-duration: .7s;
}

/***** END VIDEO STYLING *****/

/***** GRID STYLING *****/

.wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 20px;
    padding-top: 40px;
    grid-gap: 20px;
    background-color: var(--darksea);
    color: #444;
}

.zoom-box {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0, 60, 95, 0.4)
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.container img {
    filter: brightness(0.7);
    height: 300px;
    width: 400px;
    border: 5px solid var(--darksea);
}

#gallery img:hover {
    filter: brightness(1);
    transition-duration: .5;
}

.container {
    cursor: pointer;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: var(--seafoam);
    color: var(--darksea);
    border-radius: 5px;
    max-width: 100%;
    padding: 40px;
    font-size: 150%;
    display: flex;
    text-align: center;
    justify-content: center;
    max-height: 500px;
    overflow: hidden;
}

.b a {
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
    padding: 0;
    /* removes padding from link in 'About' paragraph */
}

.demo {
    display: flex;
    width: 200px;
    height: 150px;
}

#gallery {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 75%;
    width: 100%;
    background-color: var(--seafoam);
}

.image-grid {
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;
    box-sizing: border-box;
    padding: var(--gap);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.box img:hover {
    transform: scale(1.1);
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}

.column {
    float: left;
    width: 25%;
    padding-bottom: 100px;
}


.row>.column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: var(--darksea);
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: none;
    margin: auto;
    padding: 0;
    width: 1000px;
}

.mySlides img {
    object-position: 50% 40%;
}

/* The Close Button */
.close {
    color: var(--seafoam);
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: var(--seafoam);
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(6, 23, 78, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    font-family: 'Oswald', sans-serif;

}

/* Caption text */
.caption-container {
    text-align: center;
    background-color: var(--darksea);
    padding: 2px 16px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}


/***** FORM STYLING *****/

/* Button used to open the contact form - fixed at the bottom of the page */
.contact-button {
    width: 300px;
    height: 75px;
    background-color: var(--lightsea);
    color: var(--darksea);
    border-color: var(--seafoam);
    font-family: 'Oswald', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 15px;
    margin-right: 40px;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    cursor: pointer;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 40px;
    z-index: 9;
    font-family: 'Oswald', sans-serif;
    font-size: xx-large;
}

/* Add styles to the form container */
.form-container {
    width: 500px;
    max-width: 500px;
    padding: 20px;
    background-color: rgba(0, 60, 95, 0.9);
    border-radius: 15px;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;

}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 80%;
    margin-bottom: 10px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
    font-family: 'Oswald', sans-serif;
    font-size: xx-large;
    border-radius: 15px;
}

.form-container .submit {
    background-color: green;
    font-family: 'Oswald', sans-serif;
    font-size: xx-large;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 25px;
}

input[type=text], input[type=email] {
    color: var(--darksea);
    width: 75%;
    padding: 12px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
}


/***** END FORM AND GRID STYLING *****/

#footer-text {
    padding: 50px;
    display: inline-block;
    margin-left: 40px;
    vertical-align: middle;
    margin-top: -20px;
    margin-bottom: auto;
}

.center-box {
    width: 75%;
    margin: auto;
}

/***** Media Query Section *****/
@media screen and (min-width: 0px) and (max-width: 960px) {
    .wrapper {
        display: block;
    }

    .box {
        margin-bottom: 20px;
    }
}

/*Media rules for paragraph font size for different screen sizes*/
@media screen and (min-width: 1600px) {
    #home {
        font-size: 8rem;
    }
}

@media screen and (min-width: 0px) and (max-width: 1599px) {
    #home {
        font-size: 5rem;
    }
}

@media screen and (min-width: 800px) {
    .overlay-text h2 {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 0px) and (max-width: 799px) {
    .overlay-text h2 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
    .image-grid {
    --num-cols: 1;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1300px) {
    .image-grid {
    --num-cols: 2;
    }
}
@media screen and (min-width: 1300px) and (max-width: 1700px) {
    .image-grid {
    --num-cols: 3;
    }
}

    /*Media rule for navbar links for different screen sizes*/
    /* Screens 1080px and smaller will display navbar links equally distributed */
    @media screen and (max-width: 1080px) {
        .Navbar a {
            width: 20%;
            /* This sets each navbar link to 1/5 of the navbar */
            font-size: 2.5vw;
        }
    }

    /* Media rules to increase the size of the columns for larger screens */
    @media screen and (min-width: 1725px) {
        .box {
            height: 550px;
        }
    }


    /*Media rule to remove margin-top from h1 elements for extra large screens (so that the paragraph text fits in the column*/
    @media screen and (min-width: 2000px) {
        h1 {
            margin-top: 0;
        }
    }

    /***** End of Media Query Section *****/